@using XFoodBlazor.Web.Client.Services.Authorization
@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <button type="submit" class="btn btn-primary" @onclick="Logout">Submit</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private async Task Logout()
    {
        await AuthService.Logout();
    }
}