<div class="@NavMenuCssClass nav-scrollable nav-menu-custom" @onclick="ToggleNavMenu">
    <nav class="flex-column  side-bar">
        <div class="nav-item px-3">
            <AuthorizeView>
                <NavLink class="nav-link" href="pizzerias">
                    Пиццерии
                </NavLink>
                <NavLink class="nav-link" href="stats">
                    Общая статистика
                </NavLink>
                <div class="text-center time-zones p-2">
                    <p>МСК: @currentMoscowTime</p>
                    <p>ЕКТ: @currentYekaterinburgTime</p>
                    <p>БИШ: @currentBishkekTime</p>
                </div>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private Timer timer;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private string currentMoscowTime;
    private string currentYekaterinburgTime;
    private string currentBishkekTime;
    private async Task  GetCurrentTime()
    {
        try
        {
            TimeZoneInfo moscowTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Europe/Moscow");
            TimeZoneInfo ekaterinburgTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Asia/Yekaterinburg");
            TimeZoneInfo bishkekTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Asia/Bishkek");
            DateTime moscowTime = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, moscowTimeZone);
            DateTime ekaterinburgTime = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, ekaterinburgTimeZone);
            DateTime bishkekTime = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, bishkekTimeZone);
            currentMoscowTime = moscowTime.ToString("HH:mm");
            currentYekaterinburgTime = ekaterinburgTime.ToString("HH:mm");
            currentBishkekTime = bishkekTime.ToString("HH:mm");
        }
        catch (TimeZoneNotFoundException)
        {
            currentMoscowTime = "Ошибка: часовой пояс не найден";
        }
        catch (InvalidTimeZoneException)
        {
            currentMoscowTime = "Ошибка: неверный часовой пояс";
        }
    }

    protected override async Task OnInitializedAsync()
    {
       await GetCurrentTime();
       await UpdateTime(); 
       timer = new Timer(async _ =>
    {
        await UpdateTime();
        StateHasChanged(); // Уведомляем Blazor о необходимости перерисовки компонента
    }, null, TimeSpan.Zero, TimeSpan.FromMinutes(1)); // Интервал обновления - 1 минута
    }

    public void Dispose()
{
    timer?.Dispose(); // Уничтожаем таймер при удалении компонента
}

    private async Task UpdateTime()
{
    try
    {
        TimeZoneInfo moscowTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Europe/Moscow");
        TimeZoneInfo ekaterinburgTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Asia/Yekaterinburg");
        TimeZoneInfo bishkekTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Asia/Bishkek");
        DateTime moscowTime = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, moscowTimeZone);
        DateTime ekaterinburgTime = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, ekaterinburgTimeZone);
        DateTime bishkekTime = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, bishkekTimeZone);
        currentMoscowTime = moscowTime.ToString("HH:mm");
        currentYekaterinburgTime = ekaterinburgTime.ToString("HH:mm");
        currentBishkekTime = bishkekTime.ToString("HH:mm");
    }
    catch (TimeZoneNotFoundException)
    {
        currentMoscowTime = "Ошибка: часовой пояс не найден";
    }
    catch (InvalidTimeZoneException)
    {
        currentMoscowTime = "Ошибка: неверный часовой пояс";
    }
}

}