@page "/stats"
@using XFoodBlazor.Web.Client.Services.Stats.GetList
@using XFoodBlazor.Web.Client.Services.Stats
@inject IStatsService StatsService

<PageTitle>Общая статистика</PageTitle>

<h1>Все проверки</h1>

@if (chekLists != null && chekLists.List != null && chekLists.List.Any())
{
    <h3>График контроллинга</h3>

    <table class="table hovered text-center">
        <thead>
            <tr>
                <th>КЛН Менеджера</th>
                <th>Пиццерия</th>
                <th>Дата начала проверки</th>
                <th>Дата завершения проверки</th>
                <th>Количество баллов</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var checkList in chekLists.List)
            {
                <tr>
                    <td>@checkList.Manager?.FirstName @checkList.Manager?.LastName</td>
                    <td>@checkList.Pizzeria?.Name</td>
                    <td>@checkList?.StartCheck</td>
                    <td>@checkList?.EndCheck</td>
                    <td>@checkList?.TotalPoints</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span>Нету данных</span>
}

@code {
    GetListStatsResponse chekLists;

    protected override async Task OnInitializedAsync()
    {
        chekLists = await StatsService.GetListStats(new GetListStatsRequest());
    }
}