@page "/"
<PageTitle>Index</PageTitle>

<h1 class="text-center fs-3 mt-5">Добро пожаловать!</h1>
<img class="align-baseline mw-100" src="images/logoOrangeHorizontal.png" alt="logo" style="display:flex ;margin-top : 100px ; margin-left :auto; margin-right:auto;">