@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="test">CLICK</button>
</div>

@section Scripts
{
    <script>
        $('#test').on('click', () => {
            console.log('clicked');
           $.get('https://localhost:44318/api/test/list',
           function (response){
               console.log(response);
               })
        });
    </script>
}